@import url('https://fonts.googleapis.com/css2?family=Jetbrains+Mono&display=swap');

*{
    font-family: 'Jetbrains Mono', monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    font-size: 3rem;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #70c1df;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}