@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    font-family: Jetbrains Mono;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/assets/background.jpg");
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(245, 244, 241, 0.25);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    color: white;
    width: 30vw;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time {
    font-size: 3rem;
}

input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    color: #252531;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #0c1122;
    cursor: pointer;
}